---
import "../styles/traininggroupcard.css";
interface Props {
  title: string;
  description: string;
  schedules: Array<{ day: string; time: string }>;
}

const { title, description, schedules } = Astro.props;
---

<div class="group-card card">
  <h3>{title}</h3>
  <div class="schedule">
    {
      schedules.map((schedule) => (
        <p>
          <strong>{schedule.day}:</strong> {schedule.time}
        </p>
      ))
    }
  </div>
  <p>{description}</p>
</div>
